{% extends 'base.html' %}

{% block title %}RoomHouse{% endblock %}

{% block header %}
    <h1 class="float-md-start mb-0">About project</h1>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" onclick="set_id()">Active room</a>
        <a class="nav-link active" href="#">About</a>
        <a class="nav-link" href="#authors">Leave</a>
    </nav>
{% endblock %}


{% block content %}
    <div id="about" class="w-100 mx-auto flex-column">
          <div class="row">
              <div class="jumbotron">
                    <h1>About RoomHouse</h1>
                    <p style="font-size: 24px;padding: 50px;">Cupcake ipsum dolor sit amet. Jelly fruitcake pudding wafer cake bonbon cake. Liquorice toffee marshmallow biscuit sweet chocolate dragée. Sweet roll pastry jelly-o donut soufflé toffee jelly-o gummi bears.</p>
                    <p><a class="w-20 btn btn-lg btn-primary border-dark" href="/" style="padding: 10px 50px;">Create a room</a></p>
              </div>

          </div>
    </div>

{% endblock %}

{% block script %}
<script>
    function set_id(){	
        var room_id  = '{{ room_id }}';
        window.location.href = "/room/" + room_id;
    }
</script>
{% endblock %}
