{% extends 'base.html' %}

{% block title %}RoomHouse{% endblock %}

{% block header %}
    <h3 class="float-md-start mb-0">RoomHouse</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Create Room</a>
        <a class="nav-link" href="#">About</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="w-50 mx-auto flex-column">
        <h1>Create Room</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <h6>{{ message }}</h6>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form class="form-group justify-content-center" method="POST" action="/">
            <input type="roomname" name='roomname' id="roomname" class="col form-control" placeholder="Room Name">
            <input type="password" name='password' id="password" class="col form-control" placeholder="Password">
            <input style="background-color: rgb(225, 255, 92);" class="w-100 btn btn-lg btn-secondary fw-bold border-dark bg-white" type="submit" value='Create'>
        </form>
    </div>
{% endblock %}

{% block script %}
    
{% endblock %}