{% extends 'base.html' %}

{% block title %}RoomHouse{% endblock %}

{% block header %}
    <h3 class="float-md-start mb-0">RoomHouse</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Join Room</a>
        <a class="nav-link" href="#">About</a>
    </nav>
{% endblock %}


{% block content %}
    <div class="w-50 mx-auto flex-column">
        <h1>Join Room</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h6>{{ message }}</h6>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form class="form-group justify-content-center" method="POST" action="">
            <input type="username" name="username" id="username" class="col form-control" placeholder="Display Name">
            <input type="password" name="password" id="password" class="col form-control" placeholder="Password">
            <div id="local">
                <div style="width: 100% !important;">
                </div>
                <div class="mt-auto text-white-50">
                    Me
                </div>
            </div>
            <input style="background-color: rgb(225, 255, 92);" class="w-100 btn btn-lg btn-secondary fw-bold border-dark bg-white" id="submit" name="submit" type="submit" value="Join">
        </form>
    </div>
{% endblock %}


{% block script %}
    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
